.elemento-no-centro{
  text-align: center;
}
.plano-de-fundo{
/*  background-color: #27ae60;*/
    background-image: url("../img/plano4.jpg");
    background-size: cover;
    font-size: 1.5rem;
}
.texto-branco{
  color: black;
}

header .intro {
    padding-top: 400px;
    padding-bottom: 400px;
}

.img-circle{
  border-radius: 50%;
}
